<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Email Template</title>
    <style>
        .container td {
            vertical-align: middle;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #F1F1F1;">
    <table style="border-collapse: collapse; width: 100%; max-width: 820px; margin: auto;">
        <tr>
            <td class="header" style="background-color: #F1F1F1; text-align: center; padding: 20px 0;">
                <img src="https://i.ibb.co/VW9B2KM/RKM0-GR2-1.png" alt="Logo" style="display: block; max-width: 100%; width: 150px; margin: auto; margin-bottom: 8px;">
                <div style="font-family: 'Kumbh Sans', sans-serif;">...Redefining Hospitality</div>
            </td>
        </tr>
        <tr>
            <td class="content" style="background-color: #FFFFFF; padding: 40px 20px; border-radius: 20px; font-family: 'Kumbh Sans', sans-serif; color: #3B3B3B; border-spacing:0;border-collapse: separate;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td>
                            <table class="container" style="background-color: #001529; color: #FFFFFF; padding: 20px; border-radius: 20px; width: 100%;">
                                <tr>
                                    <td class="hero-text" style="width: 60%; text-align: left;">
                                        <p style="font-weight: bold; font-size: 40px; margin: 0;">You initiated an OTP</p>
                                    </td>
                                    <td style="text-align: right;">
                                        <img src="https://i.ibb.co/KycNSyB/07-GFTEL-1.png" alt="Envelope" style="width: 193px; height: 193px; margin-right: -10px;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text" style="padding: 20px;">
                            <p style="font-size: 20px; font-weight: 400; line-height: 31px; margin: 0">Hi,</p>
                            <p style="font-size: 20px; font-weight: 400; line-height: 31px; margin: 0">Your OTP Code is:</p>
                            <p style="color: #3a3a3a; font-size: 30px; font-weight: 600; text-align: center; padding: 26px; background: #eeeeee; border-radius: 10px; margin: auto; width: fit-content; padding: 35px 156px; margin: 16px auto;">{{otp}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="close" style="padding-top: 20px; text-align: center;">
                            <p style="color: #001529; margin: 8px 0">Cheers,</p>
                            <span style="color: #001529; font-family: 'Handlee', cursive; margin: 8px 0">Tracman Team</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; text-align: center;">
                            <div class="download">
                                <img src="https://i.ibb.co/7GjcsdV/Google-Play.png" alt="Google Play" style="width: 200px; margin: 10px;">
                                <img src="https://i.ibb.co/98gnp5H/app.png" alt="App Store" style="width: 200px; margin: 10px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding-top: 20px;">
                            <div class="download">
                                <img src="https://i.ibb.co/BgFmvmx/Vector-1.png" alt="Social Icon" style="width: 32.56px; height: 34.01px; margin-right: 30px;">
                                <img src="https://i.ibb.co/S6YbpRv/facebook.png" alt="Facebook" style="width: 32.56px; height: 34.01px;">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer" style="background-color: #F1F1F1; text-align: center; padding: 20px 0; font-family: 'Kumbh Sans', sans-serif;">
                <p style="margin: 5px 0; color: #404040; font-size: 12px;">Copyright © 2024 Tracman, All rights reserved.<br>You are receiving this email because you opted-in via our website.</p>
                <p style="margin: 5px 0; color: #404040; font-size: 12px;">Want to change how often you receive these emails? <br>You can <a href="#" style="color: #404040; text-decoration: underline;">update your preferences</a>.</p>
                <img src="https://i.ibb.co/qmW2fgn/footer.png" alt="Vector-2" style="width: 35.5px; height: 44.04px; margin-top: 40px; margin-bottom: 40px;">
            </td>
        </tr>
    </table>
</body>

</html>
